# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binaries
cmd/gateway/gateway
cmd/consumer/consumer
cmd/reacter/reacter

# dev area
cmd/dev/
